#nav-mobile {
    display: block !important
}
#root > div > div > nav {
    background-color : #006400;
    width: 100%;
    margin: 10px,0px;
}
.container {
    max-width: 100%;
    width: 100%;
}
.survey_form {
    margin :1%;
    
}